<div class="container">
  <ng-container *ngIf="fftDecompositionResult$ | async as data">
    <div class="decomposition-charts">
      <div class="main-chart" airborneFrontpage [width]="mainChartWidthVW">
        <airborne-frontpage-chart
          [chartTitle]="'Simulated Data  - two sine waves + randomized noise'"
          [chartWidth]="mainChartWidthVW"
          [chartHeight]="chartsHeight"
          [data]="[data.original]"
        ></airborne-frontpage-chart>
      </div>

      <div class="sub-charts" airborneFrontpage [width]="mainChartWidthVW">
        <airborne-frontpage-chart
          [chartTitle]="
            'Clean Periodicity - two sine waves at 50 and 120 hertz'
          "
          [colorIndex]="2"
          [chartWidth]="mainChartWidthVW"
          [chartHeight]="chartsHeight"
          [data]="[data.periodicity]"
        ></airborne-frontpage-chart>
      </div>
    </div>
    <div class="phase-chart">
      <airborne-frontpage-chart
        [chartTitle]="'Noise - Data LESS the periodicity'"
        [colorIndex]="3"
        [chartWidth]="amplitudeFreqChartWidth"
        [chartHeight]="amplitudeFreqChartHeight"
        [data]="[data.noise]"
      ></airborne-frontpage-chart>
      <airborne-frontpage-chart
        [chartTitle]="
          'Power Spectrum Density - The magitude at 50 and 120 hertz'
        "
        [colorIndex]="4"
        [chartWidth]="amplitudeFreqChartWidth"
        [chartHeight]="amplitudeFreqChartHeight"
        [data]="[data.psd]"
      ></airborne-frontpage-chart>
    </div>
  </ng-container>
</div>
